.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 30px;
}

.title-issues {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
  

  